.nav-wrapper {
  position: sticky;
  top: 0px;
  width: 100%;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  z-index: 500;
}

.nav-row {
  background: #fff;
  padding: 12px 35px;
  border-radius: 999px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
  box-shadow: 0px 0px 10px rgba(187, 187, 187, 0.3);
}

.nav-bottom {
  width: 445px;
  margin-top: -10px;
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 18px;
  width: auto;
  min-width: 0;
  flex: 0 0 auto;
  border-radius: 999px;
  color: #272727;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;

  transition: all 0.15s ease;
}

.nav-logo {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  object-fit: contain;
  display: block;
  padding-left: 10px;
}

.nav-item.active {
  background: #007aff;
  color: white;
}

.nav-item:hover {
  transform: translateY(-3px);
  /* 
  box-shadow: 0px 0px 10px rgba(187, 187, 187, 0.3); */
}
